@import "../../styles/media-queries.scss";   

.menu{
    border-right: 0.0625rem solid $border-color;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: -17.5rem;
    min-width: 14.5rem;
    bottom: 0;
    opacity: 0;
    overflow-y: scroll;
    transition: $transition-primary;
    z-index: $menu-z;

    &.open{
        background: $background-color;
        left: 0rem;
        opacity: 1;

        @media (max-width: $breakpoint-tablet) {
            background: $sidebar-color;
        }
    }

    .menu-header{
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0.4375rem 0 2rem 0.0625rem;

        .home{
            margin-left: 0.4375rem;
            padding: 0.5rem 0.5rem 0.25rem 0.375rem;
        }
    }
    
    .folder-group{
        margin-bottom: 1.625rem;

        .folder-title{
            align-items: center;
            display: flex;
            flex-direction: row;
            margin: 0.5rem 0 0.5rem 0.75rem;

            h4{
                margin: 0.3125rem 0 0 0.5rem;
            }
        }
        
        .folder-list{
            display: flex;
            flex-direction: column;

            a{
                @media (hover: hover) {
                    &:hover{
                        li{
                            h5{
                                color: $link-hover;
                            }
                        }
                    }
                }
            }

            li{
                align-items: center;
                border-radius: 0.25rem;
                display: flex;
                flex-direction: row;
                margin-left: 0.125rem;
                padding: 0.75rem 0.875rem 0.5625rem 0.875rem;
                width: calc(100% - 1.875rem);

                &.active{
                    background: $highlight-background;
                }

                .wapo{
                    svg{
                        path{
                            fill: $icon-color;
                        }
                    }
                }

                svg{
                    path{
                        fill: $paper-color;
                    }
                }

                h5{ 
                    margin-left: 0.5rem;
                    color: $white;
                    position: relative;
                }
            }            
        }
    }  
}