@import "../../styles/media-queries.scss";

.lightbox{
    background: $overlay-background;
    height: 3rem;
    left: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 1;
    pointer-events: all;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: $transition-primary;
    width: 3rem;
    z-index: $lightbox-z;

    &.show{
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: translate(0,0);
        $transition-delay-lightbox: 0.2s;
    }

    .invisible-close{
        cursor: zoom-out;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: $lightbox-invisible-close-z;
    }

    .mobile-close{
        position: fixed;
        background: $overlay-background;
        left: 1.5rem;
        padding: 0.625rem;
    }

    .lightbox-header{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 4rem;
        position: fixed;
        width: 100%;
        z-index: $lightbox-header-z;
        pointer-events: none;

        @media (max-width: $breakpoint-phone) {
            background: $overlay-background;
            height: 4rem;
        }

        .close{
            box-sizing: content-box;
            height: 3rem;
            width: 3rem;
            pointer-events: all;

            @media (max-width: $breakpoint-phone) {
                margin-left: 0.5rem;
            }
        }

        .lightbox-caption-wrapper{
            left: 50%;
            pointer-events: all;
            position: absolute;
            transform: translateX(-50%);
        }
    }

    .browser-arrow-box{
        @media (max-width: $breakpoint-phone) {
           display: none;
        }
    }
    
    .mobile-arrow-box{
        bottom: 0;
        display: none;
        position: fixed;
        align-items: center;
        padding: 1rem 0;
        justify-content: center;
        width: 100%;
        z-index: $lightbox-mobile-arrows;

        @media (max-width: $breakpoint-phone) {
            display: flex; 
         }

        .gallery-arrows{
            background: $overlay-background;
            border-radius: 0.125rem;
            padding: 0.5rem;
            border-left: 0;
        }
    }

    .gallery-arrows{
        align-items: center;
        border-left: 0.0625rem solid $border-color;
        display: flex;
        flex-direction: row;
        height: 2rem;
        pointer-events: all;

        .arrow{
            align-items: center;
            display: flex;
            height: 2rem;
            justify-content: center;
            width: 2.5rem;
        }

        .gallery-counter{
            margin: 0.125rem 0.825rem;
        }
    }  

    .lightbox-item{
        align-items: center;
        position: absolute;
        box-sizing: border-box;
        margin: 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: center;
        transition: $transition-margin;
        height: calc(100vh - 6rem);
        bottom: 0;
        pointer-events: none;
        width: calc(100% - 2rem);
        z-index: $lightbox-item-z;
        
        @media (max-width: $breakpoint-phone) {
            height: 100vh;
            margin: 0;
            width: 100%;
        }

        .center-children{
            align-items: center;
            display: flex;
            justify-content: center;
            position: relative;
            flex: 1 0;
            transition: $transition-primary;
            
            &.show{
                animation: expandImage 0.2s;
                height: 100%;
                opacity: 1;
                width: 100%;
            }

            &.hide{
                animation: collapseImage 0.2s;
                height: 0;
                opacity: 0; 
                width: 0;
            }

            .lightbox-caption{
                position: fixed;
                height: 4rem;
                left: 50%;
                right: 50%;
                transform: translate(-50%, -50%);
            }

            .lightbox-video-wrapper{
                position: fixed !important;
                bottom: 0;
                left: 0;
                right: 0;
                pointer-events: none;
                top: 0;
                z-index: $lightbox-video-wrapper-z;

                .media-box{
                    align-items: center;
                    position: relative;
                    box-sizing: border-box;
                    justify-content: center;
                    transition: $transition-margin;
                    pointer-events: none;
                    box-shadow: none;
                    max-width: 76.5rem;
                    left: 50%;
                    overflow: hidden;
                    top: calc(50% + 2rem);
                    transform: translate(-50%, -50%);
                    width: calc(100% - 3.5rem);
                    z-index: $lightbox-media-box-z;
            
                    @media (max-width: $breakpoint-phone) {
                        width: 100%;
                    }
            
                    .loading-spinner{
                        visibility: visible;
                        z-index: $lightbox-loading-spinner-z;
                    }
            
                    .gatsby-image-wrapper{
                        position: absolute !important;
                        width: 100%;
                        height: 100%;
                        max-height: 100%;
                        text-align: center;
                    }
            
                    .player-container{
                        height: 100%;
                        position: relative;
                        opacity: 0;
                        top: 0;
                        width: 100%;
                        transition: $transition-primary;
                        z-index: $lightbox-player-container-z;
            
                        &.ready{
                            opacity: 1;
                            transition: $transition-primary;
                            transition-delay: $transition-delay-player;
                        }
                
                        .player-holder{
                            padding-bottom: 55.5%;
                            position: relative;
                            overflow: hidden;
                            pointer-events: all;
                            width: 100%;
                
                            .player-inner{
                                transform: translateY(0px);
                                height: 100% !important;
                                width: 100% !important;
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                                right: 0px;
                                top: 0px;
                
                                div{
                                    height: 100% !important;
                                    max-height: calc(100vh - 16px - 16px - 64px)!important;
                                    width: 100% !important;
                                    top: 50%;
                                    position: relative;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
            
                    &.vert-vumble-hero{.player-container{.player-holder{
                       padding-bottom: 56%; }}
                    }
                    &.vert-vumble-powerpoint-prototype{.player-container{.player-holder{
                        padding-bottom: 56.25%;}}
                    }
                    &.vert-vumble-beta-build{.player-container{.player-holder{
                        padding-bottom: 62.5%;}}
                    }
                    &.vert-vumble-instant-playback{.player-container{.player-holder{
                        padding-bottom: 67.15%;}}
                    }
                    &.vert-vumble-reddit-research{.player-container{.player-holder{
                        padding-bottom: 69.25%;}}
                    }
                    &.vert-vumble-reddit-infused{.player-container{.player-holder{
                        padding-bottom: 69.5%;}}
                    }
                    &.vert-vumble-clip-post{.player-container{.player-holder{
                        padding-bottom: 69.5%;}}
                    }
                    &.vert-openrecord-hero{.player-container{.player-holder{
                        padding-bottom: 56.8%;}}
                    }
                    &.vert-openrecord-working-design{.player-container{.player-holder{
                            padding-bottom: 58.7%;}}
                    }
                    &.vert-openrecord-add-song{.player-container{.player-holder{
                        padding-bottom: 53.1%;}}
                    }
                    &.vert-neat-hero{.player-container{.player-holder{
                        padding-bottom: 55.5%;}}
                    }
                }
            }

            .lightbox-image-wrapper{
                position: relative;
                display: block;
                margin: auto;
                pointer-events: all;
                width: 100%;

                &.headshot{
                    width: 90%;
                }
     
                .gatsby-image-wrapper{
                    width: 100%;
                    height: 100%;
                    max-height: 100%;
                    text-align: center;

                    div{
                        position: absolute;
                    }

                    picture{
                        img{
                            display: block;
                            position: relative !important;
                            max-width: 100%;
                            max-height: calc(100vh - 16px - 16px - 64px);
                            margin: 0 auto;
                            object-fit: contain !important;
                            transition: $transition-img-max;
                            width: auto !important;
                        }
                    }
                }

                
            }
        }
    }
}


@keyframes expandImage {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }


@keyframes collapseImage {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
  }
