@import "../../styles/media-queries.scss";

.caption{
    display: block;
    margin: 0.375rem 0 0.5rem 0;
    text-align: center;

    .caption-text{
        color: $text-color-secondary;
        font-style: italic;
    }
}