@import "./media-queries.scss";

@font-face {
    font-family: AtlasGrotesk-Regular;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/AtlasGrotesk-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: AtlasGrotesk-Light;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/AtlasGrotesk-Light.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: AtlasGrotesk-Medium;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/AtlasGrotesk-Medium.woff") format("woff");
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    font-variant-ligatures: no-common-ligatures;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}

body{
    background-color: $background-color;
    color: $text-color;
    font-family: AtlasGrotesk-Regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1{
    font-family: AtlasGrotesk-Medium;
    margin-bottom: 1.5rem;
}

p{
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 0.0675rem;
}

h6{
    color: $caption-color;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
}

.main-container{
    margin: 5rem auto;
    max-width: $max-width;
    padding: 2.5rem;
}

.caption{
    font-style: italic;
    margin: 0.625rem auto;
    text-align: center;
}

.caption-emoji{
    font-size: 1rem;
    font-style: normal;
}