$breakpoint-1400: 87.5rem;
$breakpoint-1300: 81.25rem;
$breakpoint-1200: 75rem;
$breakpoint-1000: 62.5rem;
$breakpoint-tablet: 56.5rem;
$breakpoint-672: 42rem;
$breakpoint-phone: 36rem;
$max-width: 46.5625rem;

$background-color: #171B21;
$border-color: #3f4755; 
$caption-color: #a5a9af;
$icon-color: #a5a9af;
$icon-hover: #bbbec3;
$icon-active: #d2d4d7;
$highlight-background: #2c343f;
$link-color: #72b6ec;
$link-hover: #8ac3ef;
$link-active: #a1cef2;
$overlay-background: rgba(14,19,27,0.97);
$sidebar-color: #283241;
$sidebar-overlay: rgba(23, 27, 33, 0.1);
$text-color: #e8e9eb;
$tooltip-background: #000;
$tooltip-border: #000;
$tooltip-text: #FFFFFF;
$tooltip-shadow: 0 0 0 1px #3f4755, 0 0 0 2px rgba(0, 0, 0, 0.5), 0px 8px 13px rgba(14, 19, 27, 0.32);
$white: #FFFFFF;