//Media Queries
$breakpoint-1400: 87.5rem;
$breakpoint-1300: 81.25rem;
$breakpoint-1200: 75rem;
$breakpoint-1000: 62.5rem;
$breakpoint-tablet: 56.5rem;
$breakpoint-750: 45rem;
$breakpoint-672: 42rem;
$breakpoint-phone: 36rem;
$max-width: 46.5625rem;

//Default Color
$anchor-active: #0070e0;
$anchor-line: #3f4755;
$background-color: #171B21;
$background-color-opaque: rgba(23, 27, 33, 0.95);
$border-color: #3f4755;
$copyright-color: #4a525f;
$divider-color: #4a525f;
$icon-color: #a5a9af;
$icon-hover: #bbbec3;
$icon-active: #d2d4d7;
$info-menu: #283241;
$info-icon: #72b6ec;
$item-outline: rgba(138, 195, 239, 0.5);
$highlight-background: #2c343f;
$link-color: #72b6ec;
$link-hover: #8ac3ef;
$link-active: #a1cef2;
$loading-spinner-color: rgba(43,51,63,1);
$loading-spinner-opaque: rgba(43,51,63,0.7);
$loading-spinner-white: #FFFFFF;
$modal-shadow: 0 0 0 1px #3f4755, 0 0 0 2px rgba(0, 0, 0, 0.5), 0px 8px 13px rgba(14, 19, 27, 0.32);
$overlay-background: rgba(14,19,27,0.99);
$paper-color: #0070e0;
$play-button: #0F1D74;
$popup-text-background: #111418;
$popup-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
$quote-line: #637282;
$sidebar-color: #283241;
$sidebar-overlay: rgba(23, 27, 33, 0.1);
$text-color: #e8e9eb;
$text-color-secondary: #a5a9af;
$table-border-color: #4a525f;
$table-top-row: #212730;
$tooltip-background: #000;
$tooltip-border: #000;
$tooltip-shadow: 0 0 0 1px #3f4755, 0 0 0 2px rgba(0, 0, 0, 0.5), 0px 8px 13px rgba(14, 19, 27, 0.32);
$tooltip-text: #FFFFFF;
$transparent: transparent;
$white: #FFFFFF;

//LightMode
$anchor-active-light: #0070e0;
$anchor-line-light: #e6e8eb;
$background-color-light: #FFFFFF;
$border-color-light: #e6e8eb;
$copyright-color-light: #c1c7cd;
$divider-color-light: #c1c7cd;
$icon-color-light: #637282;
$icon-hover-light: #6a7c8f;
$info-menu-light: #FFFFFF;
$info-icon-light: #0070e0;
$item-outline-light: rgba(0, 112, 224, 0.5);
$highlight-background-light: #d6e8fa;
$link-color-light: #0070e0;
$link-hover-light: #007af5;
$link-active-light: #005dd6;
$modal-shadow-light: 0 0 0 1px rgba(27,39,51,0.08), 0 0 0 2px rgba(0, 0, 0, 0.08), 0px 8px 13px rgba(14, 19, 27, 0.08);
$overlay-background-light: rgba(255,255,255,0.95);
$popup-text-background-light: #f7f9fa;
$table-border-color-light: #c1c7cd;
$table-top-row-light: #f7f9fa;
$text-color-light: #1b2733;
$text-color-secondary-light: #637282;

//Z-Index

$lightbox-header-z: 27;
$lightbox-mobile-arrows: 26;
$expanded-player-container-z: 25;
$expanded-video-z: 24;
$lightbox-player-container-z: 23;
$lightbox-loading-spinner-z: 22;
$lightbox-media-box-z: 21;
$lightbox-video-wrapper-z: 20;
$lightbox-item-z: 19;
$lightbox-invisible-close-z: 18;
$lightbox-z: 17;
$footer-z: 16;
$info-z: 15;
$tooltip-before-z: 14;
$tooltip-after-z: 13;
$tooltip-z: 12;
$menu-z: 11;
$nav-toast-z: 10;
$nav-inner-z: 9;
$nav-z: 8;
$popup-before-z: 7;
$popup-after-z: 6;
$popup-inner-z: 5;
$popup-z: 4;
$player-container-small-z: 2;
$image-z: 1;

//Transition
$transition-primary: 0.2s all;
$transition-delay-player: 0.5s;
$transition-delay-popup: 0.3s;
$transition-delay-lightbox: 0.2s;
$transition-margin: margin 200ms;
$transition-img-max: max-width 200ms,max-height 200ms;