@import "./media-queries.scss";

.template-content{
    .template-section{
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 0 1.5rem 0;  

        &.row{
            flex-direction: row;
            justify-content: space-between;
        }

        .hero{
            margin-bottom: 1rem;
            position: relative;
            width: 100%;
        }

        .image-row{
            display: grid;
            grid-gap: 0.625rem;
            margin-top: 0.5rem;

            &.three{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

