@import "../../styles/media-queries.scss";

.washpost{
    &:after{
        content: "WashingtonPost";
        position: relative;
    }

    @media (max-width: $breakpoint-phone) {
        &:after{
            content: "WaPo";
        }
    }

    &.menu-open{
        @media (max-width: $breakpoint-1000) {
            &:after{
                content: "WaPo";
            }
        }

        @media (max-width: $breakpoint-tablet) {
            &:after{
                content: "WashingtonPost";
            }
        }

        @media (max-width: $breakpoint-phone) {
            &:after{
                content: "WaPo";
            }
        }
    }
}

.about-pic-box{
    max-width: 15.5rem;
    right: 0;
    position: absolute;
    width: 40%;
    z-index: 1;


    .about-pic{
        border-radius: 50%;
        overflow: hidden;
        cursor: zoom-in;
    }
}