@import "../../styles/media-queries.scss";

.about-pic-box{
    max-width: 15.5rem;
    right: 0;
    position: absolute;
    width: 40%;
    z-index: 1;
    @media (max-width: $breakpoint-tablet) {
        margin-top: 1rem;
        width: 35%;
    }
    @media (max-width: $breakpoint-phone) {
        margin-top: 1.5rem;
        width: 32%;
    }

    .about-pic{
        border-radius: 50%;
        overflow: hidden;
        cursor: zoom-in;
    }
}