@import "../../../styles/media-queries.scss";

.menu-holder{
    padding: 0.5rem 1.25rem;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: -17.5rem;
    min-width: 14.5rem;
    bottom: 0;
    opacity: 0;

    &.open{
        left: 0rem;
        opacity: 1;
    }

    .menu{

        .menu-header{
            align-items: center;
            display: flex;
            flex-direction: row;
            margin: 0.4375rem 0 2rem 0;

            .home{
                margin-left: 0.3125rem;
                padding: 0.5rem 0.5rem 0.25rem 0.5rem;
            }
        }

        .menu-option-set{
            margin-bottom: 2rem;

            h4{
                margin: 0.5rem 0.75rem;
            }

            li{
                &:hover{
                    a{
                        h5{
                            color: $link-hover;
                        }
                    }
                }
                a{
                    display: flex;
                    flex-direction: row;
                    padding: 0.5rem 0.75rem;
                    width: 100%;

                    h5{
                        margin-left: 0.75rem;
                        color: $white;
                    }
                }
            }            
        }
    }
}