@import "../../../styles/media-queries.scss";

.menu-holder{
    padding: 0.5rem 1.5rem;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: -17.5rem;
    min-width: 14.5rem;
    bottom: 0;
    opacity: 0;

    &.open{
        left: 0rem;
        opacity: 1;
    }

    .menu{

        .menu-header{
            align-items: center;
            display: flex;
            flex-direction: row;
            margin: 0.625rem 0 2rem 0;

            .menu-heading{
                color: $white;
                margin: 0;

                .emoji-head{
                    font-size: 1.5rem;
                    position: relative;
                    top: 0.0625rem;
                }
            }
        }

        .emoji-line{
            margin-bottom: 2rem;
        }

        .menu-option-set{
            margin-bottom: 2rem;
        }
    }
}