@import "../../styles/media-queries.scss";

.image-button{
    ////When Video is started from hover and expanded
    .video{
        &.video-expanded{
            border: 0 !important;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            top: 0;
            z-index: $expanded-video-z;

            .player-container{
                align-items: center;
                position: absolute;
                box-sizing: border-box;
                justify-content: center;
                transition: $transition-margin;
                pointer-events: none;
                box-shadow: none;
                max-width: 76.5rem;
                left: 50%;
                overflow: hidden;
                top: calc(50% + 32px);
                transform: translate(-50%, -50%);
                width: calc(100% - 3.5rem);
                z-index: $expanded-player-container-z;

                @media (max-width: $breakpoint-phone) {
                    width: 100%;
                }

                .player-holder{
                    padding-bottom: 55.5%;
                    position: relative;
                    overflow: hidden;
                    pointer-events: all;
                    width: 100%;

                    .player-inner{
                        transform: translateY(0px);
                        height: 100% !important;
                        width: 100% !important;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        top: 0px;

                        div{
                            height: 100% !important;
                            max-height: calc(100vh - 16px - 16px - 64px)!important;
                            width: 100% !important;
                            top: 50%;
                            position: relative;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            
            &.vert-vumble-hero{.player-container{.player-holder{
                padding-bottom: 56%;}}            
            }
            &.vert-vumble-powerpoint-prototype{.player-container{.player-holder{
                padding-bottom: 56.25%;}}
            }
            &.vert-vumble-beta-build{.player-container{.player-holder{
                padding-bottom: 62.5%;}}
            }
            &.vert-vumble-instant-playback{.player-container{.player-holder{
                padding-bottom: 67.15%;}}
            }
            &.vert-vumble-reddit-research{.player-container{.player-holder{
                padding-bottom: 69.25%;}}
            }
            &.vert-vumble-reddit-infused{.player-container{.player-holder{
                padding-bottom: 69.5;}}
            }
            &.vert-vumble-clip-post{.player-container{.player-holder{
                padding-bottom: 75%;}}
            }
            &.vert-openrecord-hero{.player-container{.player-holder{
                padding-bottom: 56.8%;}}
            }
            &.vert-openrecord-working-design{.player-container{.player-holder{
                    padding-bottom: 58.7%;}}
            }
            &.vert-openrecord-add-song{.player-container{.player-holder{
                padding-bottom: 53.1%;}}
            }
            &.vert-neat-hero{.player-container{.player-holder{
                padding-bottom: 55.5%;}}
            }
        }
        &.video-small,&.video-hero{
            opacity: 1;
            overflow: hidden;
            transition: $transition-primary;
            .player-container{
                background: $background-color !important;
                cursor: pointer;
                pointer-events: none;
                position: absolute;
                margin-top: -0.125rem;
                bottom: -0.125rem;
                left: -0.125rem;
                right: -0.125rem;
                top: -0.125rem;
                opacity: 0;
                transition: $transition-primary;
                z-index: $player-container-small-z;
        
                &.ready{
                    opacity: 1;
                    transition: $transition-primary;
                }
            
                .player-holder{
                    padding-bottom: 56.25%;
                    position: relative;
                    overflow: hidden;
                    top: 50%;
                    transform: translateY(-50%);
                    .player-inner{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        top: 0;  
    
                        div{
                            transform: translateY(-30.005%);
                            height: 250% !important;
                            width: 100% !important;
                            // video{
                            //     background: red !important;
                            // }
                        }
                    }
                }
            }

            //Unique Video Vertical Sizing
            &.vert-vumble-hero{.player-container{.player-holder{
                padding-bottom: 62%;
                .player-inner{
                    bottom: -0.1875rem;
                }}}
             }
            &.vert-vumble-beta-build{.player-container{.player-holder{
                padding-bottom: 62%;}}
            }
            &.vert-vumble-instant-playback{.player-container{.player-holder{
                padding-bottom: 90%;}}
            }
            &.vert-vumble-reddit-research{.player-container{.player-holder{
                padding-bottom: 80%;}}
            }
            &.vert-vumble-reddit-infused{.player-container{.player-holder{
                padding-bottom: 72%;}}
            }
            &.vert-vumble-clip-post{.player-container{.player-holder{
                padding-bottom: 90%;}}
            }
            &.vert-openrecord-hero{.player-container{.player-holder{
                padding-bottom: 75%;}}
            }
            &.vert-openrecord-working-design{.player-container{.player-holder{
                padding-bottom: 80%;}}
            }
            &.vert-openrecord-add-song{.player-container{.player-holder{
                padding-bottom: 60%;}}
            }
            &.vert-neat-hero{.player-container{.player-holder{
                padding-bottom: 65%;}}
            }
        }
    } 
}

//When Video is started from Lightbox
.lightbox-image-wrapper{
    &.video-wrapper{
        position: fixed !important;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        top: 0;
        z-index: $lightbox-video-wrapper-z;
    }
   

    .media-box{
        align-items: center;
        position: relative;
        box-sizing: border-box;
        justify-content: center;
        transition: $transition-margin;
        pointer-events: none;
        box-shadow: none;
        max-width: 76.5rem;
        left: 50%;
        overflow: hidden;
        top: calc(50% + 2rem);
        transform: translate(-50%, -50%);
        width: calc(100% - 3.5rem);
        z-index: $lightbox-media-box-z;

        @media (max-width: $breakpoint-phone) {
            width: 100%;
        }

        .loading-spinner{
            visibility: visible;
            z-index: $lightbox-loading-spinner-z;
        }

        .gatsby-image-wrapper{
            position: absolute !important;
        }

        .player-container{
            height: 100%;
            position: relative;
            opacity: 0;
            top: 0;
            width: 100%;
            transition: $transition-primary;
            z-index: $lightbox-player-container-z;

            &.ready{
                opacity: 1;
                transition: $transition-primary;
                transition-delay: $transition-delay-player;
            }
    
            .player-holder{
                padding-bottom: 55.5%;
                position: relative;
                overflow: hidden;
                pointer-events: all;
                width: 100%;
    
                .player-inner{
                    transform: translateY(0px);
                    height: 100% !important;
                    width: 100% !important;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    top: 0px;
    
                    div{
                        height: 100% !important;
                        max-height: calc(100vh - 16px - 16px - 64px)!important;
                        width: 100% !important;
                        top: 50%;
                        position: relative;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        &.vert-vumble-hero{.player-container{.player-holder{
           padding-bottom: 56%; }}
        }
        &.vert-vumble-powerpoint-prototype{.player-container{.player-holder{
            padding-bottom: 56.25%;}}
        }
        &.vert-vumble-beta-build{.player-container{.player-holder{
            padding-bottom: 62.5%;}}
        }
        &.vert-vumble-instant-playback{.player-container{.player-holder{
            padding-bottom: 67.15%;}}
        }
        &.vert-vumble-reddit-research{.player-container{.player-holder{
            padding-bottom: 69.25%;}}
        }
        &.vert-vumble-reddit-infused{.player-container{.player-holder{
            padding-bottom: 69.5%;}}
        }
        &.vert-vumble-clip-post{.player-container{.player-holder{
            padding-bottom: 69.5%;}}
        }
        &.vert-openrecord-hero{.player-container{.player-holder{
            padding-bottom: 56.8%;}}
        }
        &.vert-openrecord-working-design{.player-container{.player-holder{
                padding-bottom: 58.7%;}}
        }
        &.vert-openrecord-add-song{.player-container{.player-holder{
            padding-bottom: 53.1%;}}
        }
        &.vert-neat-hero{.player-container{.player-holder{
            padding-bottom: 55.5%;}}
        }
    }

    
}

