@import "../../styles/media-queries.scss";

.nav{
    background: $background-color;
    box-shadow: $border-fake;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.2s all;

    &.open{
        @media (max-width: $breakpoint-tablet) {
            left: 16.5625rem;
            position: fixed;
        }
        .nav-inner{
            .button-box{
                .icon{
                    &:hover{
                        #bar{
                            fill-opacity: 0.4;
                        }
                    }
                    
                    path{
                        fill-opacity: 1;
                    }
                }
            }
        }
    }
    
    

    .nav-inner{
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 4rem;
        opacity: 1;
        position: relative;
        top: 0;
        transition: 0.2s all;
        width: 100%;
        z-index: 1;
       
        .button-box{
            display: flex;
            margin: 0 0.4375rem;
            pointer-events: all;

            &.home{
                margin-left: 1rem; 
            }
            
            .icon{
                align-items: center;
                display: flex;
                justify-content: center;
                height: 2rem;
                position: relative;
                width: 1.75rem;

            }
        }

        .nav-link-box{
            display: flex;
            flex-direction: column;
            margin-left: 0.25rem;

            .nav-anchor{
                color: $white;
                margin-bottom: 0.125rem;
            }
            .nav-link{
                &:hover{
                    color: $link-hover;
                }
            }
        }
    }
}

